/* 
 * 如果您使用了多说插件...
 * 请将代码复制到，后台多说》个性化设置》基本设置》自定义CSS 确保样式完整
 * author: Vic Chen
 */
input[type='checkbox']:after, .checkbox input[type='checkbox']:after, .checkbox-inline input[type='checkbox']:after{content:none;}
#ds-thread #ds-reset #ds-hot-posts{border:1px solid #dddddd;}
#ds-reset .ds-gradient-bg{background:none;}
#ds-thread #ds-reset li.ds-post{border-top: 1px solid #dddddd;}
#ds-reset .ds-highlight{color:#1abc9c !important}
#ds-thread #ds-reset .ds-post-liked a.ds-post-likes {color: #1abc9c}
#ds-thread #ds-reset #ds-bubble a {color: #1abc9c}
#ds-thread #ds-reset #ds-bubble a:hover {color: #1abc9c}
#ds-thread #ds-reset .ds-sort a.ds-current, #ds-thread #ds-reset .ds-sort a:active {color: #1abc9c}
#ds-thread #ds-reset li.ds-tab a {text-shadow: none;-webkit-border-radius: 3px;border-radius: 3px}
#ds-thread #ds-reset li.ds-tab a.ds-current { border: 1px solid #dddddd;background-color:#f9f9f9;}
#ds-thread #ds-reset #ds-bubble{box-shadow: 0 0 2px rgba(162, 162, 162, 0.2);-webkit-border-radius: 3px;border-radius: 3px;border: 1px solid #dddddd;}
#ds-thread #ds-reset .ds-comments {border-bottom: 1px solid #dddddd}
#ds-thread #ds-reset .ds-textarea-wrapper {border: 1px solid #dddddd;background: #fff;}
#ds-thread #ds-reset .ds-post-options {border: 1px solid #dddddd;border-bottom-color: #dddddd;}
#ds-thread #ds-reset .ds-post-button {border: 1px solid #ddd;border-bottom-color: #ddd;}
#ds-smilies-tooltip{overflow: hidden;}